/* Valores Globales De CSS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Noto+Sans&family=Oswald&family=PT+Sans&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* Chequear la página https://fonts.google.com/specimen/Montserrat
  para ver referencia de font-weight, así queda igual al Figma */
  
  /* background-color: #000000; */

}

:root {
  /* Cómo utilizar variables de color globales:
  En el archivo .module.css que están editando, cuando van a escribir el color escriben 
  var() y les va a ofrecer autocompletar con alguno de estos colores de acá abajo:
    ; */

  --color-yellow: #FCBD3C; 
  --color-text: #FEFAFA;
  --color-acento-botones:#FCBD3C;
  --color-botones-hover: #FEAE0C;
  --color-botones-pressed:#FEAE0C;
  --color-black: #000000;
  --color-background: #000000;

}

