.lateralBarContainer{
    position: fixed;
    width: 18%;
    height: 70%;
    background-color: #181818;
    color:#FFE8B8;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.lateralBarDiv{
    height: 20%;
    width: 100%;
    background-color: #181818;
    border: 1px solid #504B4B;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;


}

.lateralBarDivContainer{
    
    height:60%;
    width: 100%;
    /* background-color: white; */
    position: absolute;

    bottom:0;
    display:flex;
    flex-direction: column;         /*  <-------------- required               */
    justify-content: flex-end; 
}

.lateralBarHeader{
    display: flex;
    position: absolute;
    top:10%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 28%;
    width: 50%;
    background-image: url(./profilePhoto.png);
    background-size:110% 110%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50%;
    /* margin-bottom: 8rem; */
    /* background-image: ; */
}
@media(max-width: 1500px){
    .lateralBarHeader{
        display: flex;
        position: absolute;
        top:10%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 28%;
        width: 50%;
        background-image: url(./profilePhoto.png);
        background-size:90% 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        border-radius: 50%;
        /* margin-bottom: 8rem; */
        /* background-image: ; */
    }
    
}

@media(max-width:800px){

    .lateralBarContainer{
        display: none;
    }
}