.rutinaDelDia{
    position: absolute;
    top:50vh;
    font-size: 150%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    margin-left:25%;
    }

.dayContainer{
    /* position: absolute;
    top:53vh; */
    /* margin-left:8%; */
    width: 100%;
    color: white;
    display: flex;
    /* gap:2rem; */
    justify-content: space-evenly;

}