.formContainer{
    position: absolute;
    width: 60%;
    right:20%
}

.cardContainer{
        position: absolute;
        top:50vh;
        display: flex;
        flex-wrap: wrap;
        left:25%;
        width:60%
}

@media(max-width:1000px){
    .cardContainer{
        position: absolute;
        top:50vh;
        display: flex;
        flex-wrap: wrap;
        left:21%
}
}