.userProfileConteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.profilePic{
    /* display: flex;
    align-items: center;
    justify-content: center;  */
    margin-top: 1.5rem;
    width: 50%;
    height: 30vh;
    border-radius: 50%;
} 


.profileMoto{
    /* margin: auto */
    color: white;
    margin-top: 7vh;
}

.rutinasButton{
display: flex;
justify-content: center;
height: 3rem;
width:80%;
background-color: #E89E07;
border-radius: 20px;
color: white;
padding-top: 1.5vh;
margin-top: 1rem;
}