.pic{
    margin-top: 5%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 55%;
    height: 34vh;
    background-image: url('./humanRunning.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}



.UserUpperDivContainer{
    border: none;
    position: absolute;
    top: 0%;
    width: 25%;
    height: 25vh;
    background-color: #0D0D0E;
    position:relative;
    left: 35%;
    display: flex;
    justify-content: space-around;

}


.UserUpperDivLeftConteiner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #0D0D0E;
    width: 45%;
    height: 40vh;
    border: none;
}

.UserUpperDivLeftConteinerHigh{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height:50%;
    width:100%;
    color:white;
    border: none;
}

.UserUpperDivLeftConteinerLow{
    
    color:white;
    height:50%;
    width:100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border: none;
}

.infoContainerAltura{
    font-size: larger;
    margin-top: 35%;
    border-bottom: solid;
    border-color: var(--color-yellow);
}

.infoContainerAlturaInt{
    font-size: larger;
    /* margin-top: 38%; */

}

@media(max-width: 950px){
    
    .UserUpperDivContainer{
        border: none;
        position: absolute;
        top: 0%;
        width: 55%;
        height: 10vh;
        background-color: white;
        position:relative;
        left: 19%;
        display: flex;
        justify-content: space-around;

    }
    .pic{
        margin-top: 6%;
        background-color: beige;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 55%;
        height: 30vh;
        background-image: url('./humanRunning.jpg');
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 20px;
    }
    
    

}