.misRutinas{
    position: absolute;
    top:50vh;
    color: white;
    left: 15%;
    font-size: larger;
    font-weight: bold;
}

.lunesContainer{
    position: absolute;
    top:56vh;
    color: white;
    left: 10%;
    font-size: larger;
    font-weight: bold;
}

.diaContainer{
    position: absolute;
    top:60vh;
    width: 100%;
    height: 100%;
    left: 10%;
    font-size: 100%;
    color:white
}

.accordionContainer{

    width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}