.containerDiv{
    margin-top: 0.5rem;
    position: absolute;
    top:50vh;
    background-color: black;
    height: 150%;
    width: 100%;
    color:white
    /* left: 5%; */
}

.accordionContainer{
    position: inherit;
        color: black;
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 2rem;
     
}

.titleLunes{
    position: inherit;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.div{
    margin-right: 4rem;
    font-size: 120%;
}

.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 100%;
    margin-left: 5%;

}

.titleMartes{
    position: absolute;
    top: 15vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: 10%; */
}

.titleMiercoles{
    position: absolute;
    top: 30vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* margin-top: 10%; */
}

.titleJueves{
    position: absolute;
    top: 45vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titleViernes{
    position: absolute;
    top: 60vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titleSabado{
    position: absolute;
    top: 75vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.titleDomingo{
    position: absolute;
    top: 90vh;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.comenzar{
    color:black;
    background-color: #0055FF;
border-radius: 25px;
/* margin-top: 3%; */
height: 100%;
width: 30%;
color: black;
cursor:pointer;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
padding: 10px 10px 10px;
}
.borrar{
    color:black;
    background-color: #FF0088;
border-radius: 25px;
/* margin-top: 3%; */
height: 100%;
width: 30%;
color: black;
cursor:pointer;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
padding: 10px 10px 10px;
}

@media(min-width:800px){
    .containerDiv{
        margin-top: 0.5rem;
        position: absolute;
        top:50vh;
        background-color: black;
        height: 150%;
        width: 70%;
        left:15%;
        color:white
        /* left: 5%; */
    }
    .comenzar{
        color:black;
        background-color: #0055FF;
    border-radius: 25px;
    /* margin-top: 3%; */
    height: 100%;
    width: 20%;
    color: black;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px 10px 10px;
    }
    .borrar{
        color:black;
        background-color: #FF0088;
    border-radius: 25px;
    /* margin-top: 3%; */
    height: 100%;
    width: 20%;
    color: black;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 10px 10px 10px;
    }

}

@media(min-width:1600px){
    .containerDiv{
        margin-top: 0.5rem;
        position: absolute;
        top:50vh;
        background-color: black;
        height: 150%;
        width: 50%;
        left:23%;
        color:white
        /* left: 5%; */
    }

    .comenzar{
        color:black;
        background-color: #0055FF;
        border-radius: 25px;
        /* margin-top: 3%; */
        height: 100%;
        width: 18%;
        color: black;
        cursor:pointer;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 10px 10px 10px;
    }
    .borrar{
        color:black;
        background-color: #FF0088;
        border-radius: 25px;
        /* margin-top: 3%; */
        height: 100%;
        width: 18%;
        color: black;
        cursor:pointer;
        display: flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 10px 10px 10px;
    }

}