.loginContainer{
    display: flex;
    justify-content: center;
}

.loginForm{
    margin-top: 3%;
    border-radius: 20px;
    width: 95%;
    height: 75vh;
    background-color: #FEAE0C;


}

.logCategory{
    font-weight: 500;
    margin-top: 20px;

    margin-left: 10%;

}

.logCategoryType{
    padding-bottom: 15px;
    margin-left: 10%;

}

.login_input{
    height: 3rem;
    width:90%;
    border-radius: 20px;
}

.blackButton{
    display: flex;
    justify-content: center;
    height: 3rem;
    width:80%;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-left: 10%;
    margin-top: 5rem;
    padding-top: 1.5vh;
}

.blackButtonCrearCuenta{
    display: flex;
    justify-content: center;
    height: 3rem;
    width:80%;
    background-color: black;
    border-radius: 20px;
    color: white;
    margin-left: 10%;
    padding-top: 1.5vh;
    margin-top: 1rem;
}