
.infoDiv{
    position: absolute;
    top: 60%;
    
}


.slidedDiv{
    margin-top: 2%;
    height: 50vh;
    width:60%;
    background-color: rgba(252, 250, 247, 0.13);
    border: 1px solid #0d0d0e;
    position:relative;
    left:20%;
    border-radius: 20px;
    color:white;
    /* display: flex; 
    justify-content:center ; */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slidedDivImage{
  
    height: 25vh;
    width:50%;
    background-color: black;
    left: 20%;
    border-radius: 20px;
    margin-bottom: 44%;
    /* margin-top:5%; */

}

.yellowButton{
    position: absolute;
    background: #FCBD3C;
    border-radius: 25px;
    margin-top: 3%;
    height: 14%;
    width: 19vh;
    color: black;
    cursor:pointer;
    padding: 5px 5px 5px;
    text-align: center;
    justify-content: center;
    top:80%;
    left:26%
}

