.infoDivv{
    /* text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; */
    position: relative;
    top: 75%;
    /* margin-top: 11rem; */
    color:white;


}

.slidedDiv{
    margin-top: 2%;
    height: 50vh;
    width:80%;
    background-color: rgba(252, 250, 247, 0.13);
    border: 1px solid #0d0d0e;
    position:relative;
    left:10%;
    border-radius: 20px;
    color:white;
    /* display: flex; 
    justify-content:center ; */
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



.slidedDivImage{
    position: absolute;
    top: 5%;
    /* display: none; */
    height: 17vh;
    width:26%;
    background-color: white;
    right: 38%;
    border-radius: 20px;
    /* margin-top:90%; */
    /* margin-bottom: 35%; */
    /* left: 15%; */


}



.yellowButton{
    position: absolute;
    background: #FCBD3C;
    border-radius: 25px;
    /* margin-top: 3%; */
    height: 11%;
    width: 20vh;
    color: black;
    cursor:pointer;
    display:flex;
    /* padding: 5px 5px 5px; */
    text-align: center;
    justify-content: center;
    top:85%;
    left:31%;
    /* padding-top:10px */
}



        @media(max-width:1400px){ .slidedDivImage{
            position: absolute;
            top: 5%;
            height: 25vh;
            width:50%;
            background-color: black;
            left: 20%;
            border-radius: 20px;
            /* margin-top:5%; */
            margin-bottom: 25%;
        
        } 
    
    
    }




@media(max-width:1300px){        
    
    .infoDivv{
            position: absolute;
            top: 60%;
            
        }
        
        
        .slidedDiv{
            margin-top: 2%;
            height: 50vh;
            width:60%;
            background-color: rgba(252, 250, 247, 0.13);
            border: 1px solid #0d0d0e;
            position:relative;
            left:20%;
            /* border-radius: 20px; */
            color:white;
            /* display: flex; 
            justify-content:center ; */
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        
        .slidedDivImage{
            position: absolute;
            top: 5%;
            height: 25vh;
            width:60%;
            /* background-color: black; */
            left: 20%;
            border-radius: 20px;
            /* margin-top:5%; */
            margin-bottom: 25%;
        
        }
        
        .yellowButton{
            position: absolute;
            /* background: #FCBD3C; */
            border-radius: 25px;
            margin-top: 3%;
            height: 14%;
            width: 19vh;
            color: black;
            cursor:pointer;
            padding: 5px 5px 5px;
            text-align: center;
            justify-content: center;
            top:75%;
            left:35%
        }
        }


        @media(max-width:750px){        
    
            .infoDivv{
                    position: absolute;
                    top: 65%;
                    
                }
                
                
                .slidedDiv{
                    margin-top: 2%;
                    height: 50vh;
                    width:80%;
                    background-color: rgba(252, 250, 247, 0.13);
                    border: 1px solid #0d0d0e;
                    position:relative;
                    left:10%;
                    border-radius: 20px;
                    color:white;
                    /* display: flex; 
                    justify-content:center ; */
                    text-align: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
                
                .slidedDivImage{
                    position: absolute;
                    top: 5%;
                  
                    height: 25vh;
                    width:60%;
                    /* background-color: black; */
                    left: 20%;
                    border-radius: 20px;
                    /* margin-top:90%; */
                    margin-bottom: 0%;
                
                }
                
                .yellowButton{
                    position: absolute;
                    background: #FCBD3C;
                    border-radius: 25px;
                    margin-top: 3%;
                    height: 14%;
                    width: 19vh;
                    color: black;
                    cursor:pointer;
                    padding: 5px 5px 5px;
                    text-align: center;
                    justify-content: center;
                    top:80%;
                    left:25%
                }
                }
        
