.infoDiv{
    position: absolute;
    top: 60%;
}


.slidedDiv{
    margin-top: 2%;
    height: 50vh;
    width:60%;
    background-color: rgba(252, 250, 247, 0.13);
    border: 1px solid #0d0d0e;
    position:relative;
    left:20%;
    border-radius: 20px;
    color:white;
    text-align: center;
    justify-content: center;
}

.slidedDivImage{
  
    height: 25vh;
    width:60%;
    background-color: black;
    left: 20%;
    border-radius: 20px;
    margin-top: 3%;

}

.yellowButton{
    position: absolute;
    background: #FCBD3C;
    border-radius: 25px;
    margin-top: 3%;
    height: 14%;
    width: 19vh;
    color: black;
    cursor:pointer;
    padding: 5px 5px 5px;
    text-align: center;
    justify-content: center;
    top:80%;
    left:20%
}

/* @media (max-width: 1000px){
    .slidedDivImage{
        width:60vw;
        /* left: 16%; */

@media (max-width: 1000px){

    .slidedDiv{
        
        height: 50vh;
        width:75%;
        background-color: rgba(252, 250, 247, 0.13);
        border: 1px solid #0d0d0e;
        position:relative;
        
        display: flex; 
        justify-content:center ;
        left:12.5%
    }
    

    .slidedDivImage{

        margin-top: 0.2rem;
        width:40vw;
        border-radius: 20px;

    }
    .infoDiv{
        position: absolute;
        top: 60%;
        left: 13%;
    }

    .yellowButton{
        position: absolute;
        background: #FCBD3C;
        border-radius: 25px;
        margin-top: 3%;
        height: 15%;
        width: 19vh;
        color: black;
        cursor:pointer;
        padding: 5px 5px 5px;
        text-align: center;
        justify-content: center;
        top:80%;
        left:20%
    }
}
