.button{

    color:black;
    background-color: #FCBD3C;
border-radius: 25px;
/* margin-top: 3%; */
height: 105%;
width: 100%;
color: black;
cursor:pointer;
display: flex;
justify-content: center;
align-content: center;
text-align: center;
padding: 10px 10px 10px;
}

.UserRutineCard{
    position: absolute;
    background-color: white;
    color:var(--color-yellow);
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    width: 90%; 
    border-radius: 20px;
    /* margin-left: 25%; */
    left: 5%;
    z-index: 9999 !important;
    font-weight: bolder;
    border: solid #FCBD3C
}