body {
  background: #0D0D0E;
}


.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  height: 11vh;
 
}

.ejercicios {
  
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight:500;
  color: var(--color-text);
}

.logDiv{
  display: flex;
  justify-content: space-around;
}

.logo{
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  font-weight:500;
  color: var(--color-text);
}

@media only screen and (max-width:768px){

};